
.reset-password-container{
    margin: auto;
    background-color: #CFE5FF;
    height:100vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
}

.reset-password-form{
    background-color: #252F9C;
    border-radius: 5px;
}

.input-text{
    color:white;
    font-size:medium;
    font-weight: 400;
}

.title{
    text-align:center;
    color:white;
    font-weight: bold;
    letter-spacing: 2px;
}

